
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    }

    main {
    background-color: #f5f58f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    }

    .button-container {

    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    top: 120px;
    padding: 150px;
    position: fixed;
    z-index: 4;
    }

    .button-container h1 {
    margin: 10px;
    position: absolute;
    right: inherit 0;
    left: -15px;
    top: 25%;
    width: 100%;
    padding: 5px;
    text-align: center;
    height: 10px;
    font-size: 20px;
    z-index: 7;
    }

    .button-container img {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -165px);
    max-height: 25%;
    z-index: 6;
    border-bottom: 2px solid black;
    width: auto;
    }            

    .action-button.admin {
    background-color: #f5f58f;
    color: black;
    border: 2px solid black;
    border-radius: 150px;
    position: center;
    padding: 10px 50px;
    font-size: 18px;    
    }

    .action-button.member {
    background-color: #f5f58f;
    color: black;
    border: 2px solid black;
    border-radius: 150px;
    position: absolute;
    bottom: 79px;
    right: 147px;
    padding: 10px 60px;
    font-size: 18px;
    }

    .action-button.create {
    position: absolute;
    top: 240px;
    right: 35px;
    margin-top: 60px;
    padding: 5px 20px;
    border: 2px black;
    font-size: 12px;
    background-color: white;
    }

    .action-button.create:hover {
    background-color: white;
    color: black;
    }

    .action-button:hover {
    background-color: blue;
    color: white;
    }
